.marketing-kit {
  position: relative;
}

.to-left {
  position: absolute;
  left: 10px;
  top: 45%;
}

.to-right {
  position: absolute;
  right: 10px;
  top: 45%;
}

.image-number-indicator {
  position: absolute;
  bottom: 20px;
  left: 47%;
}
