.about-company {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  color: white;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.9);
}

.about-company div {
  width: 95%;
}
