.our-clients {
  max-width: 100%;
  display: flex;
}

.carousel {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  min-width: 200px;
  overflow-x: hidden;
}

.scroll-left,
.scroll-right {
  background-color: red;
  flex-basis: 40px;
  min-width: 40px;
}

.clients-logos-container {
  display: flex;
  width: 1400px;
}

.clients-logos-container div img {
  width: 200px;
}
