.our-clients {
  max-width: 100%;
  display: flex;
  background-color: white;
}

.carousel {
  flex-grow: 1;
  min-width: 200px;
  overflow-x: hidden;
}

.scroll-left,
.scroll-right {
  background-color: red;
  flex-basis: 40px;
  min-width: 40px;
}

.clients-logos-container {
  display: flex;
  width: 1400px;
  transform-origin: 0 0;
  transform: translateX(0);
  margin: auto;
}

.clients-logos-container div img {
  width: 200px;
}
