.our-clients {
  max-width: 100%;
  display: flex;
}

.carousel {
  display: flex;
  justify-content: space-around;
  /* flex-grow: 1; */
  min-width: 250px;
}

.scroll-left,
.scroll-right {
  background-color: red;
  flex-basis: 50px;
  min-width: 50px;
}

.carousel div img {
  width: 200px;
}
