footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  background-color: black;
  color: white;
}

.contacts {
  flex-grow: 1;
}

.soc-nets {
  padding: 0 10px;
  flex-grow: 1;
}

.soc-icon {
  display: inline-block;
  padding: 0 10px;
  width: 30px;
  text-align: right;
  margin-right: 10px;
}

footer div a {
  color: white;
}
