.marketing-kit {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

.kit-images-container {
  display: flex;
  width: 400%;
  transition: all 0.5s linear;
}

.kit-image {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 45px;
  width: calc(100% / 4);
}

.kit-image img {
  max-width: 100%;
  max-height: 100%;
}

.to-left,
.to-right {
  position: absolute;
  top: 45%;
  font-size: 70px;
  color: white;
}

.to-left {
  left: 10px;
}

.to-right {
  right: 10px;
}

.image-number-indicator {
  position: absolute;
  bottom: 20px;
  left: 47%;
  font-size: 15px;
}

.fa-circle {
  padding: 0 0.2em;
}
